body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  
}
h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: rgb(108, 124, 36);
  font-weight: bold;
}
p {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  color: rgb(62, 36, 124);
  font-weight: bold;
  
}
a {
  font-family: 'Fira Sans', sans-serif;
  color: red;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
#dailly-challenge{
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
